{{- if hasKey .Values "configMap" }}
  {{- if hasKey .Values.configMap "localEnv" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.configMap.localEnv }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
{{- end }}